[DEFAULT]
MTSName:      node-
endNodeName:  endnode-

[GENI Credentials]
username:             sr1632
password:             shashank
remoteCodeDirectory:  /users/sr1632
OSVersion:            18.04

[Local Utilities]             
RSPEC:                    C:\Users\shashankru\Desktop\Thesis\MTP_Automation\MTP_RSPEC.xml
privateKey:               C:\Users\shashankru\.ssh\id_geni_ssh_rsa
localWorkingDirectory:    C:\Users\shashankru\Desktop\Thesis\MTP_Automation\
trafficGeneratorLocation: C:\Users\shashankru\Desktop\Thesis\MTP_Automation\TrafficGenerator.py
endnodeInfoLocation:      C:\Users\shashankru\Desktop\Thesis\MTP_Automation\addrInfo.cnf

[MTP Utilities]
localCodeDirectory:     C:\Users\shashankru\CLionProjects\MTP-Root-Redundancy
rootRedundancy:         true
includeVLANs:           false
endNodesInTopology:     true
endNodeTrafficSource:   endnode-0
trafficToSend:          ICMP
primaryRootNode:               node-0
secondaryRootNode:		node-1

[RSTP Utilities]
endNodesInTopology:     true
endNodeTrafficSource:   endnode-0
trafficToSend:          ARP
rootNode:               node-0
