[DEFAULT]
MTSName:      node-
endNodeName:  endnode-

[GENI Credentials]
username:             sr1632
password:             shashank
remoteCodeDirectory:  /users/sr1632
OSVersion:            18.04

[Local Utilities]
RSPEC:                    /mnt/c/Users/shashankru/Desktop/Thesis/MTP_Automation/MTP_RSPEC.xml
privateKey:               /mnt/c/Users/shashankru/.ssh/id_geni_ssh_rsa
localWorkingDirectory:    /mnt/c/Users/shashankru/Desktop/Thesis/MTP_Automation
trafficGeneratorLocation: /mnt/c/Users/shashankru/Desktop/Thesis/MTP_Automation/TrafficGenerator.py
endnodeInfoLocation:      /mnt/c/Users/shashankru/Desktop/Thesis/MTP_Automation/addrInfo.cnf

[MTP Utilities]
localCodeDirectory:     /mnt/c/Users/shashankru/CLionProjects/MTP-Root-Redundancy
rootRedundancy:         true
includeVLANs:           false
endNodesInTopology:     true
endNodeTrafficSource:   endnode-0
trafficToSend:          ICMP
primaryRootNode:               node-0
secondaryRootNode:		node-1

[RSTP Utilities]
endNodesInTopology:     true
endNodeTrafficSource:   endnode-0
trafficToSend:          ARP
rootNode:               node-0
